bulma-stylus-root = '../../../../node_modules/bulma-stylus/stylus'

/* ---------------------------------
 *   Override Bulma CSS Framework
 * --------------------------------- */
@font-face {
  font-family: 'Overpass';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Overpass-var.woff2') format('woff2');
  ascent-override: 105%;
}

@font-face {
  font-family: 'Overpass';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Overpass-Italic-var.woff2') format('woff2');
  ascent-override: 105%;
}

$darker-gray-color ?= #1a1a1a
$dark-gray-color ?= #a8aab1
$mid-gray-color ?= #e6e6e6
$light-gray-color ?= #f6f6f6
$black-color ?= #000
$white-color ?= #fff
$primary-text-color ?= #5a656b
$secondary-text-color ?= #aaa
$brand-color ?= #246dd3
$blue ?= $brand-color
$grey-dark ?= $darker-gray-color


$body-size ?= 14px
$body-background-color ?= $white-color
$body-color ?= $darker-gray-color

$text-strong ?= $darker-gray-color
$title-weight ?= $weight-normal
$title-color ?= $darker-gray-color

$content-heading-weight ?= $weight-normal
$content-heading-color ?= $darker-gray-color

$family-sans-serif ?= Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif
$family-code ?= Overpass Mono, 'Roboto Mono', 'Lucida Console', Monaco, monospace

$size-7 ?= .85rem
$size-small ?= .75rem

$size-3 ?= 1.9rem
$size-5 ?= 18px
$size-4 ?= 22px
$size-2 ?= 17px
$size-1 ?= 1.7rem

.article-container
    width: 96%
    margin: 0 auto

.heading-medium
    font-size: 18px !important
.heading-large
    font-size: 27px !important
    
.content-index
    font-size: 14px !important

.title
    font-weight: 700 !important
    margin-bottom: 5px !important
    line-height: 1.3 !important

.image.is-3by1
    padding-top: 17rem !important
    
.footer
    color: $primary-text-color


$primary ?= $brand-color
$custom-colors ?= {
    grey-lightest: {
        '1': $grey-lightest
        '2': $grey-darker
    }
}

$navbar-item-active-color ?= $primary
$footer-background-color ?= none

$gap ?= 64px
$tablet ?= 769px
$desktop ?= 1088px
$widescreen ?= 1280px
$fullhd ?= 1472px

$shadow ?= 0 4px 10px rgba(0, 0, 0, 0.05)

$control-height ?= 2.25em
$button-padding-vertical ?= calc(0.375em - 1px)

$card-radius ?= $radius
$card-media-margin ?= 0.75rem
$card-shadow ?= $shadow, 0 0 1px rgba(0, 0, 0, 0.1)

$menu-item-active-color ?= $link
$menu-item-active-background-color ?= hsl(219, 70%, 96%)


$logo-height ?= 1.75rem

// FIXME: https://github.com/groenroos/bulma-stylus/issues/11
@import bulma-stylus-root + '/utilities/initial-variables'
@import bulma-stylus-root + '/utilities/functions'
@import bulma-stylus-root + '/utilities/derived-variables'

$colors = merge($colors, $custom-colors)

@import bulma-stylus-root + '/utilities/animations'
@import bulma-stylus-root + '/utilities/mixins'
@import bulma-stylus-root + '/utilities/controls'
@import bulma-stylus-root + '/base/_all'
@import bulma-stylus-root + '/components/_all'
@import bulma-stylus-root + '/elements/_all'
@import bulma-stylus-root + '/form/_all'
@import bulma-stylus-root + '/grid/_all'
@import bulma-stylus-root + '/layout/_all'

html
    background: none
    height: 100%
    -webkit-text-size-adjust: 100%
    -moz-text-size-adjust: 100%
    -ms-text-size-adjust: 100%
    text-size-adjust: 100%

body
    min-height: 100%
    display: flex
    flex-direction: column

body > .section
    flex-grow: 1
    padding: 0.6rem 1.5rem;
    
img
    border-radius: 3px

+desktop()
    ::-webkit-scrollbar
        width: 8px
        height: 8px

    ::-webkit-scrollbar-track
        border-radius: 3px
        background: rgba(0,0,0,0.06)
        box-shadow: inset 0 0 5px rgba(0,0,0,0.1)

    ::-webkit-scrollbar-thumb
        border-radius: 3px
        background: rgba(0,0,0,0.12)
        box-shadow: inset 0 0 10px rgba(0,0,0,0.2)

    ::-webkit-scrollbar-thumb:hover
        background: rgba(0,0,0,0.24)

.card {
 box-shadow: none !important;
 color: #333;
}
.column {
 padding:0.35rem;
}
.card-content {
 padding:1.5rem 1rem;
}
article.article .article-meta > :first-child {
  flex-wrap: wrap;
  width: 100%;
}
article.article .article-meta > :first-child > * {
  flex-grow: 0 !important;
}
ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
}
#back-to-top {
 box-shadow: 0 4px 10px rgba(0,0,0,.05),0 0 1px rgba(0,0,0,.2) !important;
}
