/* ---------------------------------
 *         Responsive Layout
 * --------------------------------- */
+widescreen()
    .is-2-column .container
        max-width: $desktop - 2 * $gap
        width: $desktop - 2 * $gap

    .is-1-column .container
        max-width: 830px
        width: 730px

+fullhd()
    .is-2-column .container
        max-width: $widescreen - 2 * $gap
        width: $widescreen - 2 * $gap

    .is-1-column .container
        max-width: 830px
        width: 730px

+tablet()
    .is-sticky
        position: -webkit-sticky
        position: sticky
        top: 1.5rem
        z-index: 99

    .column-main, .column-left, .column-right, .column-right-shadow
        &.is-sticky
            top: .75rem
            align-self: flex-start

+mobile()
    .article-container
        width: 100%
    .section
        padding: 0.6rem 1rem !important
    .column
        padding-left: 0 !important
        padding-right: 0 !important
    .card-content
        padding: 1rem 0.7rem !important
        
    .navbar
        z-index: 100
        position: sticky
        top: 0
        background-color: rgba(255,255,255,.8) !important
        backdrop-filter: blur(20px)
        -webkit-backdrop-filter: blur(20px)
    .navbar-menu
        justify-content: left !important
        margin-right: 2.5rem
        background-color: #fff0 !important
    .navbar-end
        position: fixed
        top: 0
        right: 0
        z-index: 95
    .navbar-brand
        display: none
    .navbar-logo-mobile
        display: flex !important
    .navbar-item
        &:hover
            background-color: transparent !important
    .post-cover-full-width
        height: auto
        margin-top: 0.45rem
        margin-left: 0.35rem
        margin-right: 0.35rem
    .heading-medium-mobile
        font-size: 17px !important
    .heading-large-mobile
        font-size: 27px !important
    .content-index
        font-size: 14px !important
    .image.is-3by1
        padding-top: 13rem !important
    .article-licensing
        &:after
            display: none
